:root {
    --user-message: #222244;
    --user-message-light: #c0d0ff;
    --bot-message: #444444;
    --bot-message-light: #cccccc;
    --user-message-as-bot: #333344;
    --user-message-as-bot-light: #e0e8ff;
    --bot-message-as-bot: #224422;
    --bot-message-as-bot-light: #ccffcc;
}

#root {
    height: 100vh;
    text-align: center;
    width: 100%;
}

.chatLog {
    background: #220000;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 16px 0;

    @media (prefers-color-scheme: light) {
        background: #fff0f0;
    }
}

.chatLog.asBot {
    background: #001a10;

    @media (prefers-color-scheme: light) {
        background: #f0fff8;
    }
}

article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    height: 100%;
    width: 100%;
}

.topMenu {
    position: relative;

    h1, p {
        margin: 0;
    }

    .settingsButton {
        height: 40px;
        position: absolute;
        right: 8px;
        top: calc(50% - 20px);
    }
}


.chatMessage {
    border-radius: 4px;
    margin: 4px 20px;
    padding: 6px;
    position: relative;
    text-align: left;

    &.botMessage {
        align-self: start;
        background: var(--bot-message);

        @media (prefers-color-scheme: light) {
            background: var(--bot-message-light);
        }
    }

    &.userMessage {
        align-self: end;
        background: var(--user-message);

        @media (prefers-color-scheme: light) {
            background: var(--user-message-light);
        }
    }

    &.botMessage.asBot {
        align-self: end;
        background: var(--bot-message-as-bot);

        @media (prefers-color-scheme: light) {
            background: var(--bot-message-as-bot-light);
        }
    }

    &.userMessage.asBot {
        align-self: start;
        background: var(--user-message-as-bot);

        @media (prefers-color-scheme: light) {
            background: var(--user-message-as-bot-light);
        }
    }
}

.botMessage:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    top: calc(50% - 15px);
    border: 8px solid transparent;
    border-right: 16px solid var(--bot-message);
    z-index: 3;

    @media (prefers-color-scheme: light) {
        border-right-color: var(--bot-message-light);
    }
}

.userMessage:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -24px;
    top: calc(50% - 15px);
    border: 8px solid transparent;
    border-left: 16px solid var(--user-message);
    z-index: 3;

    @media (prefers-color-scheme: light) {
        border-left-color: var(--user-message-light);
    }
}

@media (prefers-color-scheme: light) {
    .botMessage:after {
        border-right-color: var(--bot-message-light);
    }

    .userMessage:after {
        border-left-color: var(--user-message-light);
    }
}

.botMessage.asBot:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: inherit;
    right: -24px;
    top: calc(50% - 15px);
    border: 8px solid transparent;
    border-left: 16px solid var(--bot-message-as-bot);
    z-index: 3;

    @media (prefers-color-scheme: light) {
        border-left-color: var(--bot-message-as-bot-light);
    }
}

.userMessage.asBot:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    top: calc(50% - 15px);
    border: 8px solid transparent;
    border-right: 16px solid var(--user-message-as-bot);
    z-index: 3;

    @media (prefers-color-scheme: light) {
        border-right-color: var(--user-message-as-bot-light);
    }
}

.ellipses {
    font-weight: 700;
    margin: 4px 20px;
    padding: 6px;
    text-align: left;
}

form {
    display: flex;
    gap: 16px;
    margin: 0 16px;

    input {
        font-size: 16px;
        width: 100%;
    }
}

fieldset {
    align-items: start;
    border: none;
    display: flex;
    flex-direction: column;

    legend {
        text-align: start;
    }
}